// main: style.less
@import url('vars.less');
.box-column, .box-row {
    width: 100%;
    max-width: 1000px;
    border-radius: 5px;
    font-family: @main-font;
}
.box-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.box-column {
    display: flex;
    flex-direction: column;
}
.box-zakaz {
    width: 40%;
}
.img-slide {
    width: 300px;
    height: auto;
}