<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="footer-main">
                    <h1 class="footer-title"><a href="/">&copy; Планки.Москва</a></h1>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="footer-links">
                    {% include "layout/nav_categogies.html" %}
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="footer-actions">
                    <a href="#" class="footer-up">
                        <i class="fa-solid fa-chevron-up"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>