{% load static %}
<section class="section services">
    <div class="container">
        <h2 class="section-title service-title">Наши услуги</h2>

        <!-- ссылки дублируются в каждой карточке в названии (это нужно для мобильной версии) -->
        <div class="row" style="gap: 20px 0;">
            {% for category in categories %}
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="service-item">
                        <h3 class="service-item-title"><a href="{% url 'baseapp:categorylist' id=category.id %}">{{ category.title|capfirst }}</a></h3>
                        <img class="service-item-img" src="{{ category.image.url }}" alt="{{ category.title }} купить в Москве"/>
                        <a class="service-item-link" href="{% url 'baseapp:categorylist' id=category.id %}">
                            Подробнее<i class="fa-solid fa-square-arrow-up-right"></i>
                        </a>
                    </div>
                </div>
            {% endfor %}
            <div class="col-12 col-sm-6 col-md-4">
                <div class="service-item">
                    <h3 class="service-item-title"><a href="">Лазерная гравировка</a></h3>
                    <img class="service-item-img" src="{% static 'baseapp/images/prim2.jpg' %}" alt="заказать лазерную гравировку любой сложности"/>
                    <a class="service-item-link" href="">
                        Подробнее<i class="fa-solid fa-square-arrow-up-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>