{% load static %}
<section class="section services">
    <div class="container">
        <h2 class="section-title service-title">Наши услуги</h2>

        <!-- ссылки дублируются в каждой карточке в названии (это нужно для мобильной версии) -->
        <div class="row" style="gap: 20px 0;">
            {% for category in categories %}
            <div class="col-12 col-sm-6 col-md-4">
                <a class="service-item" href="{% url 'baseapp:categorylist' id=category.id %}">
                    <h3 class="service-item-title">{{ category.title|capfirst }}</h3>
                    <img class="service-item-img" src="{{ category.image.url }}"/>
                    <div class="service-item-link">
                        Подробнее<i class="fa-solid fa-square-arrow-up-right"></i>
                    </div>
                </a>
            </div>
            {% endfor %}
            <div class="col-12 col-sm-6 col-md-4">
            <a class="service-item" href="{% url 'baseapp:photoalbum' %}">
                <h3 class="service-item-title">Лазерная гравировка</h3>
                <img class="service-item-img" src="{% static 'baseapp/images/prim2.jpg' %}"/>
                <div class="service-item-link">
                    Подробнее<i class="fa-solid fa-square-arrow-up-right"></i>
                </div>
            </a>
        </div>

        </div>
    </div>
</section>

