* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #cad1d730;
}
a {
  text-decoration: none;
}
h1,
h2,
h3 {
  margin-top: 10px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}
.maintitle {
  margin: 30px 0 20px 0;
}
h2 {
  font-size: 20px;
}
.nav {
  height: 60px;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(171, 170, 170, 0.159);
  backdrop-filter: blur(32px);
  position: sticky;
  top: 0px;
  z-index: 100;
  border-radius: 5px;
}
.nav form {
  display: flex;
  align-items: center;
}
.nav form input {
  height: 26px;
}
.nav form button {
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.links-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.links-one:hover .links-two {
  display: flex;
}
.link-one {
  width: 180px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  color: #000;
  border-radius: 5px 5px 0 0;
}
.link-one:hover {
  background-color: rgba(98, 98, 98, 0.278);
}
.links-two {
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  top: 100%;
  left: 0;
  white-space: nowrap;
  background-color: rgba(249, 246, 246, 0.852);
  border-radius: 0 0 5px 5px;
  animation: ani 0.5s forwards;
  animation-duration: 0.5s;
}
.links-two .link-two {
  min-width: 170px;
  padding: 2px 5px 2px 5px;
  color: #000;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  transition: all 0.3s;
}
.links-two .link-two:hover {
  background-color: rgba(178, 172, 172, 0.852);
}
@keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.topnav a.active {
  background-color: #2196F3;
  color: white;
}
.topnav .search-container {
  float: right;
}
.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}
.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.topnav .search-container button:hover {
  background: #ccc;
}
.box-column,
.box-row {
  width: 100%;
  max-width: 1100px;
  border-radius: 5px;
  font-family: 'Inter', sans-serif;
}
.box-row,
.box-row-free {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 0 50px 0;
  align-items: center;
}
.box-row {
  max-width: 900px;
  justify-content: center;
  border-radius: 5px;
}
.box-row-free {
  max-width: 1200px;
  justify-content: space-around;
}
.box-column {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item-box {
  width: 300px;
  height: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  cursor: pointer;
}
.item-box h2 {
  max-width: 260px;
  color: aliceblue;
}
.item-box .item-img-box {
  overflow: hidden;
  width: 300px;
  height: 300px;
  top: 0;
  position: absolute;
  display: flex;
  z-index: -1;
  align-items: center;
  justify-content: center;
}
.item-box .item-img-box .shtorka {
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.53);
  z-index: 1;
  transition: all 1s;
}
.item-box .item-img-box img {
  max-height: 110%;
  transition: max-height 1s;
}
.item-box .item-img-box .todetail {
  z-index: 1;
  margin: auto;
  position: absolute;
  color: black;
  background-color: rgba(235, 238, 241, 0.672);
  padding: 10px;
  opacity: 0;
  transition: all 0.5s;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
}
.item-box .item-img-box .todetail:hover {
  background-color: #2b2f30;
  color: aliceblue;
}
.item-box:hover .item-img-box img {
  max-height: 140%;
}
.item-box:hover .item-img-box .todetail {
  opacity: 1;
}
.item-box:hover {
  background-color: rgba(175, 185, 185, 0.182);
}
.card {
  width: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s;
  margin-bottom: 20px;
}
.card .card-img {
  margin-top: 10px;
  width: 220px;
  height: 220px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card .card-img img {
  max-width: 220px;
  max-height: 220px;
  width: auto;
  height: auto;
}
.card .card-about,
.card .price {
  margin-top: 10px;
  width: 200px;
  display: flex;
}
.card .card-about {
  align-items: center;
  justify-content: center;
  height: 40px;
  font-weight: 100;
}
.card .price {
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
.card .tocatd {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.212);
  border-color: rgba(0, 0, 0, 0.202);
  cursor: pointer;
  transition: all 0.5s;
}
.card .tocatd:hover {
  background-color: rgba(0, 0, 0, 0.364);
  border-color: rgba(0, 0, 0, 0.355);
}
.card:hover {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.slider {
  width: 100%;
  height: 300px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.slider .item-img-box {
  width: 100%;
}
