.card {
    padding: 1rem;
    border: none;
    background-color: $gray-light;
    border-radius: $border-radius;

    @include shadow;

    display: grid;
    grid-template-areas:
        "img"
        "img"
        "title"
        "price"
        "actions"
}

.card-img {
    grid-area: img;
    border-radius: $border-radius;

    height: 250px;
    object-position: center;
    object-fit: contain;
}

.card-title {
    grid-area: title;
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.card-price {
    grid-area: price;

    color: $primary;
    font-weight: 500;
}

.card-actions {
    grid-area: actions;
    display: flex;
    gap: 10px;
}

.card-number {
    input {
        width: 100%;
        height: 100%;
        border: 1px solid $gray;
        border-radius: $border-radius;
        padding: 0.3rem;
    }
}

.card-cart {
    //margin-left: 10px;

    min-width: 115px;
    max-width: 115px;
    padding: 0.3rem;
    background-color: $primary;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: $border-radius;
    color: $white;
    outline: none;

    @include transition;

    &:hover {
        background-color: darken($primary, 10%);
    }
}
