$primecolor:         rgba(79, 144, 224, 0.513);
$secondcolor:        rgba(30, 234, 238, 0.298);
$blackcolor:         #000;
$primemargin:        10px;
$main-font:          'Inter', sans-serif;
$main-border-radius: 5px;

$primary: #3f9320;
$primary-light: #92b689;
$primary-tag: #e3fadb;

$danger: #D40000;
$danger-light: #ffe8e8;

$gray-plug: #f5f5f5;
$gray-dark: #bbbbbb;
$gray: #c0c0c0;
$gray-light: #fafafa;
$text: #151515;
$white: #fff;

$border-radius: 5px;