$primecolor:         rgba(79, 144, 224, 0.513);
$secondcolor:        rgba(30, 234, 238, 0.298);
$blackcolor:         #000;
$primemargin:        10px;
$main-font:          'Inter', sans-serif;
$main-border-radius: 5px;

$primary: #39942f;
$primary-light: #c5eec6;
$secondary: #5680e9;

$gray: #d7d7d7;
$text: #1f1f1f;
$white: #fff;

$border-radius: 5px;