@import "vendor/reset";
@import "bootstrap/scss/functions";

@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/maps";

@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/carousel";
@import "bootstrap/scss/modal";
@import "bootstrap/scss/bootstrap-utilities";
@import "bootstrap/scss/breadcrumb";


// vendor
@import "vendor/reset";

// sys
@import "sys/vars";
@import "sys/mixins";

// ui
@import "ui/button";
@import "ui/input";
@import "ui/section";

// -------------------------- base
*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    background-color: #fff;
}

html,
body {
    height: 100%;
    scroll-behavior: smooth;
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.content {
    flex: 1 0 auto;
}
.footer {
    flex: 0 0 auto;
}

a {
    @include transition;

    &:hover {
        cursor: pointer;
        color: $primary;
    }

    &:focus {
        cursor: pointer;
        color: $primary;
    }
}

// -------------------------- container
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

// blocks
@import "blocks/header";
@import "blocks/nav";
@import "blocks/services";
@import "blocks/tabs";
@import "blocks/works";
@import "blocks/contacts";
@import "blocks/site-search";
@import "blocks/footer";

@import "blocks/catalog/catalog";