{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "layout/headers.html" %}
</head>
<body>
    {% csrf_token %}
<div id="app" class="wrapper">
    <notification></notification>

    <div class="content">
        {% include "layout/header.html" %}
        {% include "layout/navigation.html" %}
        <!----------------------------------------------------------------------------------------------------------------------------->
        <div class="section catalog">
            <div class="container">

                <div class="section-title catalog-title">{{ category.title }} от магазина планки.москва </div>
                {% if category.id == 4 %}
                <div class="catalog-sections">
                    <div class="catalog-sections-btn">
                        <i class="fa-solid fa-list"></i>
                        Категории
                    </div>

                    <div class="catalog-sections-list" data-is-active="0">
                        {% for type in medalstypes %}
                            <a href="categoryselected?category={{ category.id }}&itemtype={{ type.id }}" class="catalog-sections-list-item">{{ type.title }}</a>
                        {% endfor %}
                        
                    </div>
                </div>
                {% endif %}
                <!-- API -->
                <catalog
                    :show-actions="true"
                    {% if medaltypeId %}
                        :products-api="'api/products-list-selected?category={{ category.id }}&itemtype={{ medaltypeId }}'"
                    {% else %}
                        :products-api="'api/products-list?category={{ category.id }}'"
                    {% endif %}
                ></catalog>
            </div>
        </div>
        <!----------------------------------------------------------------------------------------------------------------------------->

    </div>

    {% include "layout/footer.html" %}
</div>

<script type="application/javascript" defer src="{% static 'baseapp/js/bundle.js' %}"></script>
<script type="application/javascript" src="//code.jivo.ru/widget/vr84HCIabX" async></script>
</body>
</html>