{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "layout/headers.html" %}
</head>
<body>

<div id="app" class="wrapper">
    <notification></notification>

    <div class="content">
        {% include "layout/header.html" %}
        {% include "layout/navigation.html" %}
        <!----------------------------------------------------------------------------------------------------------------------------->
        <div class="section catalog">
            <div class="container">

                <div class="section-title catalog-title">{{ category.title }} от магазина планки.москва </div>

                <div class="catalog-sections">
                    <div class="catalog-sections-btn">
                        <i class="fa-solid fa-list"></i>
                        Категории
                    </div>

                    <div class="catalog-sections-list" data-is-active="0">
                        {% for type in medalstypes %}
                            <a href="category?category={{ category.id }}&itemtype={{ type.id }}" class="catalog-sections-list-item">{{ type.title }}</a>
                        {% endfor %}
                    </div>
                </div>

                <!-- API -->
                <catalog
                    :show-actions="true"
                    :products-api="'api/products-list?category={{ category.id }}'"
                ></catalog>
            </div>
        </div>
        <!----------------------------------------------------------------------------------------------------------------------------->

    </div>

    {% include "layout/footer.html" %}
</div>

<script defer src="{% static 'baseapp/js/bundle.js' %}"></script>
</body>
</html>