{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "layout/headers.html" %}
</head>
<body>
    {% csrf_token %}
<div id="app" class="wrapper">
    <notification></notification>

    <div class="content">
        {% include "layout/header.html" %}
        {% include "layout/navigation.html" %}
        <!----------------------------------------------------------------------------------------------------------------------------->
        <div class="detail catalog">
            <div class="container">
                <div class="detail-body">
                    <div class="row">

                        <!-- писание -->
                        <div class="col-12 col-md-6 order-1 order-md-0 detail-main">
                            <div class="detail-subtitle">{{ product.title }}</div>
                            <div class="detail-price">{{ product.price }} ₽</div>
                            <div class="detail-sep"></div>
                            <div class="detail-section-list">
                                <a href="catalog.html" class="detail-section">{{ product.category }}</a>
                            </div>
                            <div class="detail-description">
                                <strong>Описание:</strong><br>
                                {{ product.description }}
                            </div>

                            <div class="detail-product">
                                <product :id="{{ product.id }}"></product>
                            </div>
                        </div>

                        <!-- картинки -->
                        <div class="col-12 col-md-6 order-0 order-md-1">
                            <div class="detail-img--main">
                                <!-- здесь основная картинка, она обязательно должна быть -->
                                <a href="{{ product.image.url }}" data-fancybox="gallery" data-caption="{{ product.description }}">
                                    <img src="{{ product.image.url }}" alt="купить {{ product.title }} в Москве" />
                                </a>
                            </div>

                            <div class="detail-img--second">
                                <!-- здесь должны быть перечислены другие картинки, вообще этого блока может и не быть -->
                                {% for image in imgs %}
                                <a href="{{ image.image.url }}" data-fancybox="gallery"
                                   data-caption="{{ product.description }}">
                                    <img src="{{ image.image.url }}" alt="заказать {{ product.title }} в Москве"/>
                                </a>
                                {% endfor %}
                               
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <!----------------------------------------------------------------------------------------------------------------------------->

    </div>

    {% include "layout/footer.html" %}
</div>

<script type="application/javascript" defer src="{% static 'baseapp/js/bundle.js' %}"></script>
<script type="application/javascript" src="//code.jivo.ru/widget/vr84HCIabX" async></script>
</body>
</html>