{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% include "layout/headers.html" %}
</head>

<body>
    {% csrf_token %}
    <div id="app" class="wrapper">
        <notification></notification>

        <div class="content">
            {% include "layout/header.html" %}
            {% include "layout/navigation.html" %}
            <!----------------------------------------------------------------------------------------------------------------------------->
            <div class="section catalog catalog-search">
                <div class="container">
                    
                    <h2 class="catalog-search-title">Результаты поиска</h2>
                    <div class="catalog-list-wrapper">
                        <div class="catalog-list expand">

                            {% for product in products %}
                                <div data-v-c55c4c4c="" class="catalog-item">
                                    <div data-v-c55c4c4c="" class="picture"><a data-v-c55c4c4c="" href="{{ product.id }}"><img
                                                data-v-c55c4c4c=""
                                                src="{{ product.image.url }}"
                                                alt=" заказать Москва"></a></div>
                                    <div data-v-c55c4c4c="" class="content">
                                        <div data-v-c55c4c4c="">
                                            <h3 data-v-c55c4c4c="" class="title">{{ product.title }}</h3>
                                        </div>
                                        <div data-v-c55c4c4c="" class="actions">
                                            <div data-v-c55c4c4c="" class="actions-info">
                                                <div data-v-c55c4c4c="" class="price">{{ product.price }} ₽</div>
                                                <div data-v-c55c4c4c="" class="catalog-item-section">
                                                    орденские планки и колодки
                                                </div>
                                            </div> <button data-v-c55c4c4c="" class="cart"><i data-v-c55c4c4c=""
                                                    class="fa-solid fa-cart-shopping"></i>В корзину
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>



                </div>
            </div>
            <!----------------------------------------------------------------------------------------------------------------------------->

        </div>

        {% include "layout/footer.html" %}
    </div>

    <script type="application/javascript" defer src="{% static 'baseapp/js/bundle.js' %}"></script>
    <script type="application/javascript" src="//code.jivo.ru/widget/vr84HCIabX" async></script>
</body>

</html>